@import url('https://fonts.googleapis.com/css2?family=Lato');

*{
    margin: 0;
    padding: 0;
}

:root{
    --white:#000000ca;
    --dark: #ffffff;
    --dark2:#000000;
    --dark3:#da0606;
    --dark4:#ffffff;
    --dark5:#ffffff;
    --dark6:#000000;
    --cyan1:#000000;
}

body{
    background-color: var(--dark);
    height: 100vh;
    font-family: 'lato';
}

header{
    display:flex;
    justify-content:space-around;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    padding: .8rem;
    background-color: var(--dark6);
    min-height: 50px;
}

.box-img-header{
    height: 100%;
}

.img-logo {
    max-width: 150px;
    height: 100%;
    margin-left: -350px;
}

nav{
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.nav-links{
    text-decoration: none;
    color:var(--dark)
}

.nav-links:hover{
    color: var(--dark4);
    transition: .4s;
    text-decoration:underline ;
}


.black-bar {
    background-color: black;
    height: 2px;
    width: 100%;
}


#contact {
    padding: 4rem;
}

.social-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.social-icons a {
    color: var(--dark);
}

.social-icons a:hover {
    color: var(--dark4);
    transition: .4s;
}

.box-btn-actions{
    display: flex;
    gap:1rem
}

button,.link-action{
    padding: .6rem;
    font-size: .9rem;
    border-radius: 6px;
    cursor: pointer;
}

.btn-actions{
    background-color: transparent;
    color: var(--white);
    border: 1px solid var(--white);
}

.btn-action:hover{
    background-color: var(--dark3);
    border: 1px solid var(--dark3);
}

.link-action{
    text-decoration: none;
    width: 200px;
    text-align: center;
}

main{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

section{
    padding: 4rem;
}

.first-section{
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
    flex-wrap: wrap;
    align-items: center;
    min-height: 650px;
}

.first-section > div{
    display: flex;
    flex-direction: column;
    gap:1rem;
    min-width: 300px;
}

h1{
    font-size: 4rem;
    color:var(--white);
    letter-spacing: 8px;
}

strong{
    color: var(--cyan1);
}

.first-section{
    color: var(--white);
}

.box-img-main{
    max-width: 450px;
    padding: 1rem;
}

.img-profile{
    border-radius: 50%;
    width: 100%;
}

.second-section, .four-section{
    background-color: var(--dark2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.second-section ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:2rem;
    flex-wrap: wrap;
}

.second-section ul li{
    color: var(--dark4);
    letter-spacing: 2px;
    font-weight: bold;
}

.second-section ul li:hover{
    color: var(--dark5);
    transition: .4s;
    cursor:default;
}

.title{
    color: var(--dark5);
}

.third-section{
    display:flex;
    flex-direction: column;
    gap:2rem;
}

.third-section > div{
    display: flex;
    gap: 4rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.third-section > div img{
    width: 250px;
    border-radius: 10px;
}

.third-section > div p {
    max-width: 600px;
    color: var(--white);
    text-align: justify;
}

footer{
    padding: 4rem;
    display: flex;
    flex-direction: column;
    gap:2rem;
}

footer > div{
    display: flex;
    justify-content:center ;
    gap:2rem;
    flex-wrap: wrap;
}

.download {
    color:white
}

.text-box {
    font-size: 1.2em;
    font-style: italic;
    padding: 10px;
    border-left: 4px solid #000000;
    background-color: #f8f9fa;
}

/* Alterando a cor do botão "Currículo" */
nav a[href="Currículo Paulo Ricardo .pdf"] {
    color: var(--dark); 
}

nav a[href="Currículo Paulo Ricardo .pdf"]:hover {
    color: var(--dark4);
}
